$primary-color: #009ea5;
$secondary-color: #33415c;
$light-color: #FFFF;
$dark-color: #000000;
$gray-bg-color: #ededed;
$gray-color: #a3a3a3;
$feature-color: #ffb703;
$hover_feature-color: #ffc226;


