.home__page {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0 20px;
    @include tl {
        padding: 0 40px;
    }
    @include lp {
        padding: 0 160px;
    }
    .home-main__section {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
        gap: 20px;
        background-color: $light-color;
        // border-radius: 10px;
        box-shadow: -2px 2px 8px -2px rgba(0,0,0,0.75);
        h1 {
            font-size: 2.4rem;
            font-weight: 500;
            color: $dark-color;
            text-shadow: 2px 2px $feature-color;
            @include ml {
                font-size: 3.6rem;
            }
            @include tl {
                font-size: 4.2rem;
            }
            @include lp {
                font-size: 4.8rem;
            }
        }
        p {
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            line-height: 20px;
            color: $dark-color;
        }
        button {
            cursor: pointer;
            width: 180px;
            height: 60px;
            font-size: 2.4rem;
            font-weight: 800;
            color: $light-color;
            border-radius: 100px;
            border: none;
            background-color: $feature-color;
            font-family: 'Exo 2', sans-serif;
            font-style: italic;
            transition: transform 200ms ease;
            &:hover {
                background-color: $feature-color;
                color: $light-color;
                transform: scale(1.02);
                transition: transform 200ms ease;
            }
        }
        .home__img-container {
            width: 100%;
            max-width: 550px;
            box-shadow: -2px 2px 8px -2px rgba(0,0,0,0.75);
            // border-radius: 20px;
            img {
                width: 100%;
                box-shadow: -2px 2px 8px -2px rgba(0,0,0,0.75);
                // border-radius: 20px;
            }
        }
    }
    .madeBy__container {
        display: flex;
        position: absolute;
        bottom: 40px;
        span {
            font-size: 1.6rem;
            font-weight: 500;
            color: $dark-color;
            a {
                text-decoration-color: $feature-color;
                color: $dark-color;
                &:hover {
                    text-decoration: none;
                    color: $feature-color;
                }
            }
        }
    }
}